<!DOCTYPE html>
<html lang="en-US" bgcolor=" #f7f8f8" style="background-color: #f7f8f8;">

<head>
    <title>Favos</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width" name="viewport">
</head>

<body bgcolor=" #f7f8f8" height="100% !important"
    style="font-family: Helvetica,Arial,sans-serif;width:100%;max-width: 500px;margin: 0 auto;">
    <table style="width:100%;margin-bottom:10px;">
        <tr>
            <td
                style="background-color: #f77e0b;padding:12px;color:#ffffff;text-align: center;font-size:28px;font-weight: 700;">
                FAVOS</td>
        </tr>
    </table>
    <div style="border:1px solid #b4b4b4;padding:5px;border-radius: 5px;margin-bottom: 15px;">
        <table
            style="width:100%;color: #282828;font-size: 13px;border-bottom:1px solid #cccccc;padding-bottom: 10px;margin-bottom: 10px;">
            <tr>
                <td colspan="3">
                    <h3 style="text-align: center;font-size:20px;">Order Details</h3>
                </td>
            </tr>
            <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">Merchant Name</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px;vertical-align: top;"><%= data.merchant_name %></td>
            </tr>
            <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">Contact No.</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px;vertical-align: top;"><%= data.merchant_mobile %></td>
            </tr>
            <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">Address</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px;vertical-align: top;"><%= data.merchant_address %></td>
            </tr>
        </table>
        <table
            style="width:100%;color: #282828;font-size: 13px;border-bottom:1px solid #cccccc;padding-bottom: 10px;margin-bottom: 10px;">
            <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">Customer Name</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px;vertical-align: top; text-transform: capitalize;"><%= data.customer_name %></td>
            </tr>
            <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">Mobile No.</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px;vertical-align: top;"><%= data.customer_mobile %></td>
            </tr>
            <!-- in case of Delivery Order -->
            <% if (data.order_type_id == 4 ) { %>
            <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">Delivery Address</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px 0 5px 10px;vertical-align: top;"><%= data.customer_address %></td>
            </tr>
            <% } %>
        </table>
        <table
            style="width:100%;color: #282828;font-size: 13px;border-bottom:1px solid #cccccc;padding-bottom: 10px;margin-bottom: 10px;">
            <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">Order No.</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px;vertical-align: top;"><%= data.order_number %></td>
            </tr>
            <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">Order Type</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px;vertical-align: top;"><%= data.orderType %></td>
            </tr>
            <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">Order Status</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px;vertical-align: top;"><%= data.orderStatus %></td>
            </tr>
            <!-- in case of DineIn Order -->
            <% if (data.order_type_id == 1 || data.order_type_id == 2 || data.order_type_id == 5 || data.order_type_id == 6 ) { %>
            <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">Table No.</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px;vertical-align: top;"><%= data.table %></td>
            </tr>
            <% } %>
            <!-- in case of DineIn Order --- Self Pickup -->
            <!-- <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">Table No.</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px 0 5px 10px;vertical-align: top;">N/A - Pickup from counter</td>
            </tr> -->
            <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">Payment Status</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px;vertical-align: top;"><%= data.paymentStatus %></td>
            </tr>
            <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">GST No.</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px;vertical-align: top;"><%= data.gst_number %></td>
            </tr>
            <!-- format DD/MM/YYYY  HH24:MI -->
            <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">Order Time</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px;vertical-align: top;"><%= data.order_date %></td>
            </tr>
        </table>
        <table
            style="width:100%;color: #282828;font-size: 13px;border-bottom:1px solid #cccccc;padding-bottom: 10px;margin-bottom: 10px;">
            <tr>
                <td style="width: 100px;padding:5px 0 5px 10px;vertical-align: top;">Order Comments</td>
                <td style="width: 20px;text-align:center;font-weight: 600;padding:5px;vertical-align: top;">:</td>
                <td style="padding:5px;vertical-align: top;"><%= data.comment %></td>
            </tr>
        </table>
        <div style="border:1px solid #b4b4b4;padding:10px 15px 0;border-radius: 5px;">
            <table style="width:100%;font-size: 13px;border-collapse:separate;border-spacing:0 15px; color: #000000">
                <tr>
                    <th style="text-align:left;padding:5px;">Item</th>
                    <th style="width: 35px;text-align: left;padding:5px;text-align:center;">Qty.</th>
                    <th style="width: 60px;text-align:left;padding:5px;text-align:right;">Amount</th>
                </tr>
                <% for (var i = 0; i < data.ordered_products.length; i++) {%>
                <tr style="padding-bottom: 15px;">
                    <td style="vertical-align: top;">
                        <%= data.ordered_products[i].product_name %>
                        <% for (var j = 0; j < data.ordered_products[i].products_customization.length; j++) {%>

                        <p style="padding-left: 10px;font-size:12px;margin-bottom: 0;margin-top: 7px;"><%= data.ordered_products[i].products_customization[j].modifier_name %> :</p> 

                        <% for (var k = 0; k < data.ordered_products[i].products_customization[j].order_product_modifier_detail.length; k++) {%>
                        <p style="padding-left: 10px;font-size:12px;margin-bottom: 0;margin-top: 7px;"><%= data.ordered_products[i].products_customization[j].order_product_modifier_detail[k].modifier_product %></p>
                        <!-- <p style="padding-left: 10px;font-size:12px;margin-bottom: 0;margin-top: 7px;">Thin Crust</p>
                            <p style="padding-left: 10px;font-size:12px;margin-bottom: 0;margin-top: 7px;">Thin Crust</p> -->
                        <% } %>
                        <% } %>
                    </td>
                    <td style="width: 35px;padding:7px;vertical-align: top;text-align:center;"><%= data.ordered_products[i].ordered_product_quantity %></td>
                    <td style="width: 60px;padding:7px;vertical-align: top;text-align:right;">$<%= data.ordered_products[i].PriceWithModifiers %></td>
                </tr>
                <% } %>
                <!-- <tr>
                    <td style="vertical-align: top;">
                        Pizza
                        <p style="padding-left: 10px;font-size:12px;margin-bottom: 0;margin-top: 7px;">Thin Crust</p>
                        <p style="padding-left: 10px;font-size:12px;margin-bottom: 0;margin-top: 7px;">Thin Crust</p>
                        <p style="padding-left: 10px;font-size:12px;margin-bottom: 0;margin-top: 7px;">Thin Crust</p>
                    </td>
                    <td style="width: 25px;padding:7px;vertical-align: top;">2</td>
                    <td style="width: 75px;padding:7px;vertical-align: top;">$ 5</td>
                </tr> -->
            </table>
                <table style="width:100%;font-size: 13px;border-collapse:separate;border-spacing:0 15px; color: #000000">
                <tr>
                    <td style="vertical-align: top;border-top:1px solid #b4b4b4;padding: 15px 7px 0;"></td>
                    <td style="width: 100px;padding: 15px 7px 0;vertical-align: top;border-top:1px solid #b4b4b4;">
                        <b>Sub Total :</b></td>
                    <td style="width: 60px;padding: 15px 7px 0;vertical-align: top;border-top:1px solid #b4b4b4;text-align: right;">$<%= data.order_amount %></td>
                </tr>
            </table>
        </div>
        <h4 style="margin: 10px 0;text-align:center;">Order Summary</h4>
        <div style="border:1px solid #b4b4b4;padding:0 15px;border-radius: 5px;">
            <table style="width:100%;font-size: 14px;border-collapse:separate;border-spacing:0 10px;columns: #000000;;">
                <!-- <tr>
                    <td style="padding: 7px 30px 0;vertical-align: top;text-align: right;">Surcharge :</td>
                    <td style="width: 60px;padding: 7px 7px 0;vertical-align: top;">$ 1</td>
                </tr> -->
                <% if (data.order_type_id == 4 ) { %>
                <tr>
                    <td style="padding: 7px 15px 0px 0;vertical-align: top;text-align: right;">Delivery Fee :</td>
                    <td style="width: 60px;padding:7px 7px 0;vertical-align: top; text-align: right;">$<%= data.delivery_fee %></td>
                </tr>
                <% } %>
                <tr>
                    <td style="padding: 15px 15px 0 0;vertical-align: top;border-top:1px solid #b4b4b4;text-align: right;">
                        <b>Total Payable :</b><br>(All prices are GST inclusive)</td>
                    <td style="width: 60px;padding: 15px 7px 0;vertical-align: top;border-top:1px solid #b4b4b4; text-align: right;">$<%= data.total_amount %></td>
                </tr>
            </table>
        </div>
        <table style="width:100%;color: #282828;font-size: 13px;padding-bottom: 10px;margin-top: 25px;">
            <tr>
                <td style="width: 100%;padding:5px 0 10px 10px;vertical-align: top;">You will receive confirmation once
                    your order is accepted by <%= data.merchant_name %>. If no response is recevied, please contact the
                    merchant
                    directly.</td>
            </tr>
            <tr>
                <td style="width: 100%;padding:5px 0 0 10px;vertical-align: top;">Kind Regards,</td>
            </tr>
            <tr>
                <td style="width: 100%;padding:5px 0 10px 10px;vertical-align: top;">Favos Team</td>
            </tr>
        </table>
    </div>
    <table style="width:100%;color: #282828;font-size: 13px;border-bottom:1px solid #cccccc;padding-bottom: 10px;">
        <tr>
            <td style="width: 100%;padding:5px;vertical-align: top;text-align: center;">www.favos.co.nz</td>
        </tr>
    </table>
</body>

</html>