doctype html
head
  title Favos
  meta(name='description', content='Email Template for WooCommerce.')
  meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
  meta(content='width=device-width', name='viewport')
  style(type='text/css').
    @media only screen and (max-width:600px) {
    table[class~="container"] {
    width: 100% !important
    }
    }
table#container.container(cellpadding='0', cellspacing='0', style='margin: 0 auto; width: 600px;', width='600')
  tr
    td.outer(style='vertical-align: top; padding: 64px 10px;')
      table#body.container(cellpadding='0', cellspacing='0', style='margin: 0 auto; width: 600px;', width='600')
        tr
          td.body(bgcolor='#ffffff', style='vertical-align: top; padding: 50px 64px; border-left-width: 1px; border-left-style: solid; border-left-color: #E6E8E9; border-right-width: 1px; border-right-style: solid; border-right-color: #E6E8E9; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E6E8E9; color: #36454f; background-color: #ffffff; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;')
            table#body-inner(cellpadding='0', cellspacing='0', style='width: 100%;', width='100%')
              tr
                td#emailcontent.intro-copy(style='vertical-align: top;  font-family: Helvetica,Arial,sans-serif; font-size: 13px; color: #36454f;')
                  img(src='https://easyorder-s3.s3.ap-southeast-2.amazonaws.com/user_image/1588315708392_success.jpg', width='600', style='max-width: 100%; border: none; display: inline-block; font-size: 14px; font-weight: bold; height: auto; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle; margin-right: 10px;')
        tr
          td.footer(align='center', style='vertical-align: top; text-align: center;')
            table#footer(cellpadding='0', cellspacing='0', style='width: 250px; margin: 0 auto;', width='250')
              tr
                td.copyright(align='center', colspan='7', style='text-align: center; vertical-align: middle; padding: 0px 5px; font-size: 11px; padding-top: 20px; color: #7B858B;')
                  | &copy; 2019 Favos
script.
  (function (i, s, o, g, r, a, m) {
  i['GoogleAnalyticsObject'] = r;
  i[r] = i[r] || function () {
  (i[r].q = i[r].q || []).push(arguments)
  }, i[r].l = 1 * new Date();
  a = s.createElement(o), m = s.getElementsByTagName(o)[0];
  a.async = 1;
  a.src = g;
  m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-127309916-1', 'auto');
  ga('send', 'pageview');
