doctype html
head
  title Favos
  meta(name='description', content='Email Template for WooCommerce.')
  meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
  meta(content='width=device-width', name='viewport')
  style(type='text/css').
    @media only screen and (max-width:600px) {
    table[class~="container"] {
    width: 100% !important
    }
    }
table#container.container(cellpadding='0', cellspacing='0', style='margin: 0 auto; width: 100%;max-width:500px;')
  tr
    td.outer(style='vertical-align: top; padding: 25px 10px;')
      table#header.container(cellpadding='0', cellspacing='0', style='margin: 0 auto; width: 100%;max-width: 500px;')
        tr
          td(align='center', bgcolor='#1D2C36', style='background-color:#f77e0b;object-fit: cover; vertical-align: middle;height:100px; text-align: center; border-top-left-radius: 3px; border-top-right-radius: 3px;')
            a(href='#', target='_blank', style='color: #000; font-weight: normal; text-decoration: underline;')
              img(src='https://favos.s3.ap-south-1.amazonaws.com/restaurant_image/1597240236919_logo-white.png', style='max-width: 100%;width:100px; border: none; display: inline-block; font-size: 14px; font-weight: bold; height: auto; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle;')
      table#body.container(cellpadding='0', cellspacing='0', style='margin: 0 auto; width: 100%;max-width: 500px;')
        tr
          td.body(bgcolor='#ffffff', style='vertical-align: top; padding: 10px; border-left-width: 1px; border-left-style: solid; border-left-color: #E6E8E9; border-right-width: 1px; border-right-style: solid; border-right-color: #E6E8E9; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E6E8E9; color: #36454f; background-color: #ffffff; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;')
            table#body-inner(cellpadding='0', cellspacing='0', style='width: 100%;')
              tr
                td#emailcontent.intro-copy(style='vertical-align: top;  font-family: Helvetica,Arial,sans-serif; font-size: 13px; color: #36454f;')
                  // Here Goes Content: Start
                  h2(style='color: #000; display: block; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 20px; font-weight: bold; line-height: 1.2; margin: 0 0 10px; text-align: left;') Hi ,#{name}
                  p(style='font-size: 16px; line-height: 1.4; padding-bottom: 30px;')
                    | We're happy to have you join the Favos Whanau! Please click on "verify email" below to validate your email ID. Add Kiaora@favos.co.nz to your contacts so you don't miss out on any of our communication. Please verify your email in the next 7 days. 
                  div(style='margin-bottom: 40px;')
                    table.td(cellspacing='0', cellpadding='6', style='width: 100%;  color: #5e6a72; vertical-align: middle;')
                      tr
                        td(align='center', valign='top')
                          a(href=`${link}`, target='_blank', style='background-color:#f77e0b;padding:15px;border-radius:4px; color:#ffffff; display:inline-block; font-size:13px; font-weight:bold; text-align:center; text-decoration:none; letter-spacing:2px;width:150px;') VERIFY EMAIL
                  //- p(style='font-size: 16px; line-height: 1.4; padding-bottom: 10px;') Or copy this link and paste in your web browser
                  //- p(style='Margin:20px 0; font-size:12px; line-height:17px; word-wrap:break-word; word-break:break-all;') #{link}
                  //-   a(href=`${link}`, style='color:#5885ff; text-decoration:underline;', target='_blank')
                  div(style='margin-top: 40px;')
                    table.td(cellspacing='0', cellpadding='6', style='width: 100%;  color: #5e6a72; vertical-align: middle;')
                      tr
                        td(style='font:14px/16px Arial, Helvetica, sans-serif; color:#363636; padding:0 0 14px;') Cheers,
                      tr
                        td(style='font:bold 14px/16px Arial, Helvetica, sans-serif; color:#363636; padding:0 0 7px;') Favos Team
                  // Here Goes Content: End
        tr
          td.footer(align='center', style='vertical-align: top; text-align: center;')
            table#footer(cellpadding='0', cellspacing='0', style='width: 100%; margin: 0 auto;')
              tr
                td.copyright(align='center', colspan='7', style='text-align: center; vertical-align: middle; padding: 0px 5px; font-size: 11px; padding-top: 20px; color: #7B858B;') &copy; 2019 Favos
script.
  (function(i, s, o, g, r, a, m) {
  i['GoogleAnalyticsObject'] = r;
  i[r] = i[r] || function() {
  (i[r].q = i[r].q || []).push(arguments)
  }, i[r].l = 1 * new Date();
  a = s.createElement(o), m = s.getElementsByTagName(o)[0];
  a.async = 1;
  a.src = g;
  m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-127309916-1', 'auto');
  ga('send', 'pageview');
