<!DOCTYPE html>
<html lang="en-US" bgcolor=" #f7f8f8" style="background-color: #f7f8f8;">

<!-- Mirrored from themes.email/woocommerce/demo/git.html by HTTrack Website Copier/3.x [XR&#X20B9CO'2014], Sat, 16 Nov 2019 19:08:48 GMT -->

<head>
    <title>Favos</title>
    <meta name="description" content="Email Template for WooCommerce." />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width" name="viewport">
    <style type="text/css">
        @media only screen and (max-width:600px) {
            table[class~="container"] {
                width: 100% !important
            }
        }
    </style>
</head>

<body bgcolor=" #f7f8f8" height="100% !important"
    style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; height: 100% !important; font-family: Helvetica,Arial,sans-serif; background-color: #f7f8f8; color: #36454f;"
    width="100% !important">
    <table cellpadding="0" cellspacing="0" class="container" id="container" style="margin: 0 auto; width: 600px;"
        width="600">
        <tr>
            <td class="outer" style="vertical-align: top; padding: 64px 10px;">
                <!-- <table cellpadding="0" cellspacing="0" class="container" id="header"
                    style="margin: 0 auto; width: 600px;" width="600">
                    <tr>
                        <td align="center" bgcolor="#1D2C36"
                            style="vertical-align: top; background-color: #e3e2e8; text-align: center; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                            <a href="#" target="_blank"
                                style="color: #000; font-weight: normal; text-decoration: underline;"><img
                                    src="https://easyorder-s3.s3.ap-southeast-2.amazonaws.com/user_image/1588315479773_Favoslogo.png"
                                    width="600"
                                    style="max-width: 100%; border: none; display: inline-block; font-size: 14px; font-weight: bold; height: auto; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle; margin-right: 10px;"></a>
                        </td>
                    </tr>
                </table> -->
                <table cellpadding="0" cellspacing="0" class="container" id="body" style="margin: 0 auto; width: 600px;"
                    width="600">
                    <tr>
                        <td bgcolor="#ffffff" class="body"
                            style="vertical-align: top; padding: 50px 64px; border-left-width: 1px; border-left-style: solid; border-left-color: #E6E8E9; border-right-width: 1px; border-right-style: solid; border-right-color: #E6E8E9; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E6E8E9; color: #36454f; background-color: #ffffff; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;">
                            <table cellpadding="0" cellspacing="0" id="body-inner" style="width: 100%;" width="100%">
                                <tr>
                                    <td id="emailcontent" class="intro-copy"
                                        style="vertical-align: top;  font-family: Helvetica,Arial,sans-serif; font-size: 13px; color: #36454f;">

                                        <img src="https://easyorder-s3.s3.ap-southeast-2.amazonaws.com/user_image/1588315708392_success.jpg" width="600"
                                        style="max-width: 100%; border: none; display: inline-block; font-size: 14px; font-weight: bold; height: auto; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle; margin-right: 10px;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="footer"
                            style="vertical-align: top; text-align: center;">
                            <table cellpadding="0" cellspacing="0" id="footer" style="width: 250px; margin: 0 auto;"
                                width="250">
                                <tr>
                                    <!-- <td align="center" class="copyright" colspan="7"
                                        style="text-align: center; vertical-align: middle; padding: 0px 5px; font-size: 11px; padding-top: 20px; color: #7B858B;">
                                        © 2019 Favos</td> -->
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-127309916-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

<!-- Mirrored from themes.email/woocommerce/demo/git.html by HTTrack Website Copier/3.x [XR&#X20B9CO'2014], Sat, 16 Nov 2019 19:08:52 GMT -->

</html>